* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.Login {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Login img {
  width: 50%;
}
.Login form {
  text-align: center;
}
.Login form input[type=submit] {
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  width: 150px;
}
.Login form input[type=text] {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  border: 1px solid black;
}
.Login form input[type=password] {
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  border: 1px solid black;
}

.Mobileview {
  width: 100%;
}
.Mobileview .content-table table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  min-width: 150px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px green;
}
.Mobileview .content-table table thead tr {
  background-color: green;
  color: white;
  text-align: left;
  font-weight: bold;
}
.Mobileview .content-table table th {
  padding: 4px 4px;
}
.Mobileview .content-table table td {
  padding: 4px 4px;
}
.Mobileview .content-table table tbody tr {
  border-bottom: 1px solid lightgreen;
  text-align: left;
}
.Mobileview .nav {
  box-shadow: 1px 1px 15px 1px black;
  width: 100%;
  display: flex;
  align-items: end;
  background-color: green;
  padding: 3%;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  justify-content: space-around;
}
.Mobileview .nav a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  justify-content: center;
}
.Mobileview .nav a img {
  width: 40%;
}
.Mobileview .nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Mobileview .nav button img {
  width: 100%;
  border-radius: 50%;
}
.Mobileview header {
  box-shadow: 1px 1px 15px 1px black;
  display: flex;
  background-color: green;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 7%;
  justify-content: space-between;
  align-items: center;
}
.Mobileview header a {
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.Mobileview header h3 {
  color: white;
}
.Mobileview .mobilebody {
  margin: 10px;
  margin-top: 130px;
  margin-bottom: 100px;
}
.Mobileview .mobilebody .card {
  margin-top: 10px;
  padding: 10px;
  background-color: lightseagreen;
  border-radius: 20px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mobileview .mobilebody .card a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.Mobileview .userlist {
  display: flex;
  flex-direction: column;
}
.Mobileview .userlist .contact-list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 5px;
  border-bottom: 0.5px solid black;
}
.Mobileview .userlist .contact-list a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  text-decoration: none;
  color: black;
  width: 100%;
  transition: 0.3s ease-in;
}
.Mobileview .userlist .contact-list a:hover {
  background-color: lightgrey;
  border-radius: 10px;
}
.Mobileview .userlist .contact-list a img {
  border: 1px solid black;
  border-radius: 50%;
}
.Mobileview .Message .Message-Box {
  height: 60vh;
  border: 2px solid black;
  border-radius: 20px 0px 0px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  color: white;
}
.Mobileview .Message .Message-Box .sender {
  text-align: left;
  margin: 10px;
}
.Mobileview .Message .Message-Box .sender p {
  width: -moz-fit-content;
  width: fit-content;
  background-color: green;
  padding: 10px;
  max-width: 40%;
  font-size: 0.8rem;
  word-wrap: break-word;
  display: inline-block;
  border-radius: 0px 20px 20px 20px;
}
.Mobileview .Message .Message-Box .reciver {
  text-align: right;
  margin: 10px;
}
.Mobileview .Message .Message-Box .reciver p {
  border-radius: 20px 20px 0px 20px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(110, 110, 110);
  padding: 10px;
  max-width: 40%;
  font-size: 0.8rem;
  word-wrap: break-word;
  display: inline-block;
}
.Mobileview .Message .Message-Send {
  width: 100%;
  display: flex;
  padding: 10px;
}
.Mobileview .Message .Message-Send textarea {
  width: 100%;
  border-radius: 20px;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Mobileview .Message .Message-Send input[type=submit] {
  width: 10%;
  border-radius: 50%;
  margin-left: 5%;
  background-color: green;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
}
.Mobileview .list-notification .notifications {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: whitesmoke;
  padding: 20px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.Mobileview .list-notification .notifications h3 {
  font-size: 0.9rem;
}
.Mobileview .list-notification .notifications h4 {
  font-size: 0.7rem;
}
.Mobileview .list-notification .notifications p {
  font-size: 0.8rem;
  max-width: 200px;
}
.Mobileview .generate {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mobileview .generate input[type=submit] {
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 20px;
  border: none;
  outline: none;
}
.Mobileview .generate select {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  border: 1px solid black;
}/*# sourceMappingURL=StyleMobile.css.map */